.Cart-Card
{
    height: 20vh;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.44);
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.Cart-Card > h1
{
    font-size: 1.1vmax;
    align-self: center;
    width: 12vw;
    padding-left: 2vmax;
    padding-right: 1vmax;
}
.Cart-image
{
    height: 15vh;
    width: 6vw;
    object-fit: cover;
    margin-left: 2.5vmax;
    align-self: center;
}
.Cart-Card > p
{
    font-size: 1vmax;
    align-self: center;
}
.Cart-Card > div
{
    display: flex;
    gap : 0.5vmax;
}
.Cart-Card > div > button
{
    height : 1vmax;
    margin-top: 0.9vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.Quantity-container
{
    align-self: center;
}