.ProductListMain
{
    height : 90vh;
    width: 68vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 2vmax;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    margin-top: 2vmax;
}

.ProductCardContainer
{
    width : 10vw;
    padding-top: 6%;
}

.ProductCardContainer > div > img
{
    width : 10vw;
}

.ProductListMain::-webkit-scrollbar{
    display : none;
}
.ProductListMain > p
{
    font-size: 2.5rem;
    width: 50vw;
}
.ProductCardContainer:hover
{
    opacity : 0.9;
    scale : 1.006;
}

