.Product-card
{
    height : 55vh;
    display: flex;
    overflow-x: auto;
    gap : 1.5vw;
    width : 90%;
}

.Product-card::-webkit-scrollbar{
    display : none;
}

.Product-card-title
{
    color : white;
    font-family: R;
    align-self: flex-start;
    padding-left: 5%;
}