
body
{
    margin: 0;
    padding: 0;
    background-color:#0C0404;
    color : white;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: V;
    src: url(./Assets/fonts/Vogue.ttf);
}
@font-face {
    font-family: G;
    src: url(./Assets/fonts/glossy.otf);
}
@font-face {
    font-family: R;
    src: url(./Assets/fonts/Ragara.otf);
}

@font-face {
    font-family: C;
    src: url(./Assets/fonts/CaviarDreams.ttf);
}